<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="https://www.ulpgc.es/" class="ulpgc-logo">
      <img src="/ulpgc-logo.png" width="80" height="80">
    </a>
    <h1>Práctica 1 Parte 2 SAT</h1>
    <p><b>José Manuel Cruz Acosta</b></p>
    <a type="button" class="btn btn-lg btn-default" href="https://aep2223.ulpgc.es/course/view.php?id=2514"> Página de la asignatura</a>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/josemcruza/L1Parte2"> Repositorio de GitHub</a>
  </div>
</div>
</body>
</html>
